@page "/footer"
<AuthorizeView>
    <Authorized>
      <footer class="text-center text-lg-start bg-danger text-light font-weight-bold mt-2">

      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us:</span>
        </div>
      </section>


      <!-- Section -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3 text-justify">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fa-solid fa-handshake me-3"></i> JOB ZONE
              </h6>
              <p>
                Our vision is to be the best employer in the staffing 
                industry. No matter whether you are an employees or a 
                client, our goal is to always be available when you need us.
              </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                ABOUT
              </h6>
              <p>
                <a href="https://jobzone.no/en/om-oss/vare-lokalkontor/" class="text-reset">˃ Local office</a>
              </p>
              <p>
                <a href="https://jobzone.no/en/raushetsaksjonen/" class="text-reset">˃ Raushetsaksjonen</a>
              </p>
              <p>
                <a href="https://jobzone.no/en/om-oss/organization/" class="text-reset">˃ organization</a>
              </p>
            </div>


            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                FOLLOW US
              </h6>
              <p>
                <a href="https://www.facebook.com/JobzoneNorge/" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
              </p>
              <p>
                <a href="https://www.linkedin.com/company/jobzone/?originalSubdomain=no" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
              </p>
              <p>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
              </p>
              <p>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                 </a>
              </p>

            </div>


            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p><i class="fas fa-home me-3"></i> Sandakerveien 114B, Oslo</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                jobzone@contact.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 47 21 52 64 00</p>
              <p><i class="fas fa-print me-3"></i> + 47 434-263-5199</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Copyright -->
      <div class="text-center p-4 " style="background-color: rgba(0, 0, 0, 0.05); font-size:12px">
        © 2022 Copyright:
        <a class="text-reset" href="https://www.linkedin.com/in/dobri-zhekov-838bb51b/">Dobri Zhekov Jensen</a>
      </div>
    </footer>
    </Authorized>
    <NotAuthorized>
        <StartCarousel />
    </NotAuthorized>
</AuthorizeView>

@code {

}
