@page "/startcarousel"

<div class="card bg-dark text-white">
  <img class="card-img" src="/images/carosel2.jpg" alt="Card image">
  <div class="card-img-overlay">
      <div class="text-center text-light mb-md-3" style="background: rgb(0, 0, 255, 0.3)">
        <h1 class="card-title">Made simpler. Safer. Stronger.</h1>
        <h3>Log in and found our job vacancies.</h3>
      </div>
  </div>
</div>

<div class="card text-center col-lg-6 p-5 offset-md-3">
      <h3 class="card-title text-danger">Jobzone-concern</h3>
      <p>The Jobzone Group consists of the parent company Jobzone AS and the subsidiaries 
          Jobzone Norge AS, Jobzone Sverige AB, HR-huset AS, Podium AS and Nordic Care AS. 
          The individual companies are specialized in their respective fields, which means 
          that the group as a whole has broad expertise in all aspects of personnel, recruitment 
          and restructuring.
      </p>
      <!--<p class="card-text">Login and check our vacant positions</p>-->
      <div class="text-center " style="background-color: rgba(0, 0, 0, 0.05); font-size:12px">
           © 2022 Copyright:
           <a class="text-reset" href="https://www.linkedin.com/in/dobri-zhekov-838bb51b/">Dobri Zhekov Jensen</a>
      </div>
</div>


